<?xml version="1.0"?>
<launch>
    <node pkg="turtlesim" name="turtlesim_node" type="turtlesim_node"/>
    <node pkg="my_turtlesim_controller" name="my_turtlesim_controller" type="my_turtlesim_controller" output="screen">
    <param name="N" value="4"/>
    <param name="hz" value="50"/>
    </node>
</launch>
